---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

img { 
    width: 3rem; 
    height: 3rem;
}

.tech-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}
